<div class="container">
  <figure>
    <img class="skull" src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTY
    uNjE1IDUxNi42MTUiPjxnIGZpbGw9IiNGRkYiPjxwYXRoIGQ9Ik0zNTkuNCA1MTYuNmMtNi4yID
    AtMTEuMi01LTExLjItMTEuMlYzOTNjMC02IDUtMTEuMiAxMS4yLTExLjIgNTUuNyAwIDEwMS00N
    S4zIDEwMS0xMDF2LTU2LjJjMC0xMTEuNC05MC42LTIwMi0yMDItMjAyQzE0Ni43IDIyLjUgNTYg
    MTEzIDU2IDIyNC41djU2LjJjMCA1NS43IDQ1LjMgMTAxIDEwMSAxMDEgNi4yIDAgMTEuMyA1IDE
    xLjMgMTEuM3YxMTIuNGMwIDYuMi01IDExLjItMTEuMyAxMS4yLTYuMiAwLTExLjItNS0xMS4yLT
    ExLjJWNDAzLjhDODMgMzk4IDMzLjcgMzQ1IDMzLjcgMjgwLjh2LTU2LjJDMzMuNyAxMDAuOCAxM
    zQuNSAwIDI1OC4zIDAgMzgyLjMgMCA0ODMgMTAwLjggNDgzIDIyNC42djU2LjJjMCA2NC4zLTQ5
    LjUgMTE3LjMtMTEyLjQgMTIzdjEwMS42YzAgNi4yLTUgMTEuMi0xMS4yIDExLjJ6bS02Ny40IDB
    jLTYuMiAwLTExLjItNS0xMS4yLTExLjJWMzkzYzAtNiA1LTExLjIgMTEuMi0xMS4yczExLjIgNS
    AxMS4yIDExLjN2MTEyLjRjMCA2LjItNSAxMS4yLTExLjIgMTEuMnptLTY3LjQgMGMtNi4yIDAtM
    TEuMi01LTExLjItMTEuMlYzOTNjMC02IDUtMTEuMiAxMS4yLTExLjIgNi4yIDAgMTEuMiA1IDEx
    LjIgMTEuM3YxMTIuNGMwIDYuMi01IDExLjItMTEuMiAxMS4yeiIvPjxwYXRoIGQ9Ik0zNTkuNCA
    zNTkuNGMtNDMuNCAwLTc4LjYtMzUuMy03OC42LTc4LjZzMzUuMi03OC42IDc4LjYtNzguNiA3OC
    42IDM1LjIgNzguNiA3OC42LTM1LjMgNzguNi03OC42IDc4LjZ6bTAtMTM0LjhjLTMxIDAtNTYuM
    iAyNS4yLTU2LjIgNTYuMnMyNS4yIDU2IDU2LjIgNTYgNTYtMjUgNTYtNTYtMjUtNTYuMi01Ni01
    Ni4yek0xNTcuMiAzNTkuNGMtNDMuMyAwLTc4LjYtMzUuMy03OC42LTc4LjZzMzUuMy03OC42IDc
    4LjYtNzguNiA3OC42IDM1LjIgNzguNiA3OC42LTM1LjIgNzguNi03OC42IDc4LjZ6bTAtMTM0Lj
    hjLTMxIDAtNTYgMjUuMi01NiA1Ni4yczI1IDU2IDU2IDU2IDU2LjItMjUgNTYuMi01Ni0yNS4yL
    TU2LjItNTYuMi01Ni4yek00NjguNSAyMDIuMmgtOGMtNDQgMC04OC42LTMxLjMtODguNi0xMDEg
    MC02LjMgNS0xMS40IDExLjItMTEuNHMxMS4yIDUgMTEuMiAxMS4zYzAgNTggMzQgNzguNyA2NiA
    3OC43aDhjNi4zIDAgMTEuNCA1IDExLjQgMTEuMiAwIDYtNSAxMS4yLTExLjMgMTEuMnptLTQxMi
    4zIDBoLTguNWMtNi4yIDAtMTEuMi01LTExLjItMTEuMyAwLTYuMyA1LTExLjMgMTEuMi0xMS4za
    DguNWMzMiAwIDY2LTIwLjcgNjYtNzguNiAwLTYgNS0xMS4yIDExLjItMTEuMiA2LjMgMCAxMS4z
    IDUgMTEuMyAxMS4zIDAgNzAtNDQuNSAxMDEuMi04OC41IDEwMS4yek0yNjkuNSAzNTkuNEgyNDd
    jLTMuOCAwLTcuNC0yLTkuNS01LjNzLTIuMi03LjQtLjUtMTFsMTEuMy0yMi4zYzMuOC03LjYgMT
    YuMi03LjYgMjAgMGwxMS4zIDIyLjRjMS43IDMuNiAxLjUgNy43LS41IDExLTIgMy40LTUuNiA1L
    jQtOS41IDUuNHoiLz48L2c+PC9zdmc+'/>
  </figure>

  <h1>Skeletal</h1>
  <p>A bare bones front end starter kit</p>

 <button id="open" class="button">read more</button>

 <aside id="side-menu" class="side-menu">
  <article class="side-menu-text">
    <h2>Hi!</h2>
    <p>If you're a nit-picky developer like me setting up a proper front end tool chain can prove to be a rather time consuming endeavor. In order to get up and running quickly with my own projects I've put together this little starter kit. Skeletal is a curation of Gulp tasks combined with Browserify and some nifty NPM scripts for good measure. Feel free to try it out for yourself.
    <br />
    <br />
    Get the repo <a href="https://github.com/eddo81/skeletal">here</a>.
    </p>
  </article>
  <div id="close" class="close-button"></div>
  <footer class="side-menu-footer">Icon made by <a href="http://www.flaticon.com/authors/webalys">Webalys</a> from <a href="http://www.flaticon.com/">www.flaticon.com</a></footer>
 </aside>
</div>