/**
 * _button.scss
 * =============
 *
 */

.button {
  display: inline-block;
  border: none;
  margin: 0;
  white-space: nowrap;
  font-family: inherit;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

   &:hover, &:active, &:focus {
    text-decoration: none;
    outline: none;
   }

   &:-moz-focus-inner {
    border: 0;
    padding: 0;
   }

   &:disabled, &.disabled {
    cursor: default;
   }

   &.--small {

   }

   &.--large {

   }
 }