/**
 * _skeletal.scss
 * ==============
 *
 */

 $logo-size: 10vw;
 $logo-size-min: 14rem;

.S_container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding-top: 25vmin;
  padding-bottom: 10vmin;
  min-height: 48vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1d21;

  .S_container-figure {
    width: $logo-size;
    height: $logo-size;
    min-width: $logo-size-min;
    min-height: $logo-size-min;
    position: relative;

    .S_skull {
      padding: 12%;
      border-radius: 100%;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: $logo-size;
      height: $logo-size;
      min-width: $logo-size-min;
      min-height: $logo-size-min;
      animation: spin 25s infinite linear;
      border-radius: 100%;
      border: 0.5rem #fff dashed;
    }
  }

  .S_container-title {
    color: #fff;
    font-size: 6rem;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: $font-weight--bold;
    line-height: 0.7;
    word-break: keep-all;
    transition: transform $transition--sm ease-in;

    @media(min-width: $screen--md) {
      font-size: 8vw;
    }
  }

  .S_container-paragraph {
    color: #fff;
    font-size: 1.5rem;
    word-break: keep-all;
    white-space: nowrap;
    text-transform: uppercase;

    @media(min-width: $screen--md) {
      font-size: 2vw;
    }
  }

  .S_button {
    margin-top: auto;
    min-height: 4.8rem;
    width: 20rem;
    font-size: 1.4rem;
    line-height: inherit;
    letter-spacing: 0.3rem;
    border-radius: 0.3rem;
    padding: 1.2rem 0;
    color: #fff;
    text-transform: uppercase;
    border: 1px #fff solid;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }

    &:hover:active {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }

  .S_side-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 48rem;
    background-color: #fff;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.6s cubic-bezier(easing(24)), opacity 0.6s ease-in-out;
    opacity: 0;
    overflow: hidden;
    padding-top: 10rem;

    @media(min-width: $screen--sm) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 0;
    }

    &.S_expanded {
     transform: translate3d(0, 0, 0);
     opacity: 1;
    }

    .S_close-button {
      position: absolute;
      top: 1.2rem;
      right: 1.2rem;
      width: 4rem;
      height: 4rem;
      overflow: hidden;

      &:hover {
        cursor: pointer;

        &:before, &:after {
          opacity: 1;
        }
      }

      &:before, &:after {
        content: '';
        display: block;
        width: 100%;
        height: 0.3rem;
        background-color: #1C1D21;
        opacity: 0.7;
        position: absolute;
        top: 50%;
        transition: opacity 0.3s ease-in-out;
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    .S_side-menu-text {
      padding: 1.5rem;
      line-height: 1.6;
      transform: translate3d(0, -50px, 0);

      @media(min-width: $screen--sm) {
        transform: translate3d(0, -100px, 0);
        max-width: 75%;
      }

      .S_side-menu-title, .S_side-menu-paragraph {
        color: #31353D;
        text-transform: none;
      }

      .S_side-menu-title {
        white-space: nowrap;
        font-size: 4.5rem;
        margin-bottom: 1.5rem;

        @media(min-width: $screen--sm) {
          font-size: 4.5vw;
          margin-bottom: 1.5vw;
        }
      }

      .S_side-menu-paragraph {
        font-size: 1.5rem;
        white-space: normal;

        @media(min-width: $screen--lg) {
          font-size: 1.5vw;
        }

        a {
          text-decoration: none !important;
        }
      }

      .S_side-menu-link {
        display: inline-block;

        &:after {
          content: '';
          display: block;
          height: 3px;
          background-color: $accent-color;
          width: 0;
          margin: 0 auto;
          opacity: 0;
          transition: opacity $transition--sm ease-in, width $transition--sm ease-in, background-color $transition--sm ease-in;
          transform: translate3d(0, -0.6rem, 0);
        }

        &:hover, &:active {

          &:after {
            width: 100%;
            opacity: 1;
            background-color: darken($accent-color, 15%);
          }
        }

        &:hover:active {

          &:after {
            background-color: darken($accent-color, 45%);
          }
        }
      }
    }

    .S_side-menu-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding: 1.5rem 0;
      text-align: center;
      color: #fff;
      font-size: 1.2rem;
      width: 100%;
      background-color: #1C1D21;
      word-spacing: 0.1rem;
      word-break: keep-all;
      white-space: nowrap;

      @media(min-width: $screen--sm) {
        font-size: 1.4rem;
      }

      .S_side-menu-footer-link {
        color: #fff;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
        padding-bottom: 0.2rem;

        &:hover, &:active, &:focus {
          opacity: 1;
          border-bottom: 1px #fff solid;
        }
      }
    }
  }

  @keyframes spin {
      0% { transform: rotate(360deg); }
      100% { transform: rotate(0deg); }
  }
}
