/**
 * _global.scss
 * ============
 *
 * All global styles goes in here. This file should only contain
 * <element> selectors, no #id or .class selectors.
 *
 */

* {

  &:focus {
    outline-color: $color-accent !important;
    box-shadow: none !important;
  }
}

::selection {
  color: $color-white !important;
  background-color: $color-accent !important;
  text-shadow: none;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: $font-stack-opensans;
  color: $color-text-primary;
  line-height: $font-line-height;
  font-size: $font-size-caption;
  background-color: $color-white;
  word-wrap: keep-all;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

video {
  max-width: 100%;
  height: auto;
}

img {
  border: 0;
  outline: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
  height: auto;
  vertical-align: middle;
  width: 100%;

  @media(min-width: $screen-sm) {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}

svg:not(:root) {
  overflow: hidden;
}

ul, ol, dl {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: $color-accent;
  transition-timing-function: ease;
  transition-duration: $animation-transition-short;
  transition-property: color, border-color, background-color;
  font-size: inherit;

  &:hover, &:active, &:focus {
    color: $color-accent-shade;
    text-decoration: none;
    outline: none;
    border: none;
    transition-timing-function: ease;
    transition-duration: $animation-transition-short;
    transition-property: color, border-color, background-color;
  }
}

hr {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid $color-text-primary;
  margin: 1em 0;
  display: block;
  height: 1px;
  padding: 0;
}

button[type=submit]:focus {
  color: $color-accent-shade;
}

input, textarea {
  -webkit-appearance: none;
  display: block;
  margin: 0;
  width: 100%;
  font-family: inherit;
  color: inherit;
  font-size: $font-size-base;
  appearance: none;
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  padding: $layout-modifier-sm;
  height: auto;
  vertical-align: middle;
  border-radius: $border-radius-sm;
  background-color: inherit;
  transition: border-color ease-in-out $animation-transition-short;

  &::placeholder {
    color: inherit;
    text-transform: uppercase;
    letter-spacing: $font-letter-spacing;
    font-size: inherit;
  }

  &:focus, &:active {
    border-color: $color-accent !important;
    outline: 0;
  }
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* Forms */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]
select {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}