/**
 * _typography.scss
 * ================
 *
 */

h1, h2, h3, h4, h5, h6, p, small {
  margin: 0.5em 0;
  padding: 0;
  line-height: inherit;
  text-rendering: optimizeLegibility;
}

//Headings list
$headings: 3.6, 3.2, 2.8, 2.4, 2.0, 1.6;

//Build all the headings
@for $i from 1 through length($headings) {
  $size: nth($headings, $i);

  //Add the heading style
  h#{$i} {
    font-size: #{$size}rem;
  }
}

p {
  font-size: $font-size-base;
}

small {
  font-size: $font-size-small;
}