/**
 * _font-variables.scss
 * ====================
 *
 * This file serves as the entry point for all font face declarations for the application.
 *
 */

// Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;

// Sizes
$font-size-h1: 11.2rem;
$font-size-h2: 5.6rem;
$font-size-h3: 4.5rem;
$font-size-h4: 3.4rem;
$font-size-h5: 2.4rem;
$font-size-h6: 2rem;
$font-size-base: 1.6rem;
$font-size-caption: 1.4rem;
$font-size-small: 1.2rem;

// Line Height (keep unitless).
$font-line-height: 1.667;

// Letter Spacing.
$font-letter-spacing: 0.3rem;

// Font-faces.
@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Light.ttf');
    font-weight: $font-weight-light;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular.ttf');
    font-weight: $font-weight-normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-ExtraBold.ttf');
    font-weight: $font-weight-bold;
    font-style: normal;
}

// Font-stacks.
$font-stack-opensans: 'Open Sans', 'sans-serif';