/*
 * _layout-variables.scss
 * ======================
 *
 */

// Layout modifiers
$layout-modifier-sm: 2.4rem;
$layout-modifier-lg: $layout-modifier-sm * 2;

// Padding
$layout-section-padding: 10rem;

// Border-radius
$border-radius-sm: 0.3rem;
$border-radius-lg: 100%;